<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <title>PetsRUs</title>
    <link rel="stylesheet" href="https://use.typekit.net/pmm0jjd.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css"> 
</head>
  
<body>
    <div class="flex-column justify-space-around">
      <header class="d-flex align-center p-2 justify-content-between">
        <h1 class="hover-click">
          <a class="logo" href="{{#unless loggedIn}}/{{else}}/pets{{/unless}}">
            <span class="p-2">Pets<span class="red">R</span>Us</span>
          </a>
        </h1>
        <div class="d-flex align-items-center left-border">
          {{#unless loggedIn}}
          <h2 class="hover-click">
            <a class="logo" href="/signup">
              <span class="p-2 mx-3">Sign Up</span>
            </a>
          </h2>
          <h2 class="hover-click">
            <a class="logo" href="/signin">
              <span class="p-2 mx-3">Sign In</span>
            </a>
          </h2>
          {{else}}
          <h2 class="hover-click">
            <a class="logo" href="/signout">
              <span class="p-2 mx-3">Sign Out</span>
            </a>
          </h2>
          {{/unless}}
        </div>
      </header>
    </div>
    {{{ body }}}
    <footer class="display-flex justify-space-between align-center p-2">
      <h2>
        <span>Call Us at 1-800-PETSRUS</span>
      </h2>
      <h3>Copyright © 2024 PetsRUs is a fictional (501)(c)(3) charity organization</h3>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  
</body>
  
</html>
