<div class="text-center">
  <h2>Book an Appointment</h2>
  <p>Please select a date to meet.</p>
</div>
<div class="text-center">
  <form class="appointment-form">
<input type="date" id="appointment-date" value="{{now}}" min="2024-02-01" max="2030-12-31" />
  <p>
    <button class="btn btn-primary" type="submit">Submit</button>
  </p>
  </form>

</div>
<script src="./js/appointmentScripts.js"></script>