    <main class="container-fluid px-0" style="overflow: hidden;">
      <div class="row hero d-flex flex-column justify-content-end align-items-center" style="background-image: url('https://th.bing.com/th/id/R.121d47bbe0b3d94c22f0355beefe69cc?rik=qOreXbmm4MjnaQ&riu=http%3a%2f%2f10wallpaper.com%2fwallpaper%2f1920x1080%2f1107%2fLovely_Little_White_Fluffy_Puppy_wallpaper_25_1920x1080.jpg&ehk=%2b8mRawafvDC3deMUIrrj9Lcexqr5PhGDizmWiOMpHTE%3d&risl=&pid=ImgRaw&r=0'); height: 800px;">
        <div class="gradient-bottom w-100 d-flex flex-column align-items-center justify-content-end">
          <div class="w-25 mb-5">
            <h3>This is Snowflake.  She'd love to meet you.</h3>
            <a href="/pets">
            <button id="pets-nav" class="btn-lg btn-primary w-100">Learn More</button>
            </a>
          </div>
        </div>
      </div>
        </div>
      </main>