<div class="text-center">
  <h2>Book an Appointment</h2>
  <p>Please select a date to meet.</p>
</div>
<div>
<input type="date" id="meet"  value="2024-02-01" min="2024-02-01" max="2030-12-31" />
  <p>
    <button class="btn btn-primary">Submit</button>
  </p>
</div>
