    <main class="container-fluid px-0" style="overflow: hidden;">
      <row class="d-flex flex-column align-items-center justify-content-center page">
        <h2>Success!</h2>
        <p class="w-25 text-center">Your Meet-N-Greet appointment with {{appt.pet.name}} has been scheduled for {{appt.date}}.  We look forward to meeting you.</p>
        <a href="/">Back to Homepage</a>
      </row>
    </main>

  <script>
    const appt = {{{render_json appt}}};
  </script>
    <script src="/js/success.js"></script>